:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  display: contents;
}

.typewritter {
  width: fit-content;
  margin-left: 5vw;

  h2 {
    display: inline-block;
    font-family: monospace;
    margin-inline: auto;
    overflow: hidden !important;
    white-space: nowrap;
    font-size: 3.5vw !important;
    border-right: 2px solid rgba(255, 255, 255, .75);
    animation:
      typing 3s steps(44) 1s 1 normal both,
      blink-caret 1s steps(44) infinite normal;
  }
}

.description {
  width: 50%;
  margin-left: 5vw;
  word-wrap: normal;

  h2 {
    display: inline-block;
    font-family: monospace;
    margin-inline: auto;
  }

  h3 {
    text-decoration: underline;
  }
}

.work {
  display: flex;

  .work-description {
    line-height: 0;
  }

  .work-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 3vw;
  }

  .work-blurb {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2vw;
    margin-top: 3vw;
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: rgba(255, 255, 255, .75)
  }

  50% {
    border-color: transparent;
  }
}

@media (min-width: 430px) {
  .background {
    background-image: url("./assets/kirby_dreamland.png");
    background-size: cover !important;
  }

  h2 {
    font-size: 1.5vw;
  }

  .vl {
    border-left:4px solid white;
    height: 200px;
  }

  .v2 {
    border-left:0px solid white;
    height: 280px;
    /* margin-left: 3.5vw; */
  }

  .work-image {
    width: 10vh;
    height: 10vh;
    border: .2rem solid rgba(255, 255, 255, .75);
    border-radius: 100%;
    background: rgba(255, 255, 255, .75);
  }
}

@media (max-width: 429px) {
  .background {
    background-image: url("./assets/background.png");
    background-size: cover !important;
  }

  h2 {
    font-size: 4vw;
    color: black;
  }

  .vl {
    border-left:3px solid white;
    height: 150px;
    /* margin-left: 3.5vw; */
  }

  .work-image {
    width: 7vh;
    height: 7vh;
    border: .2rem solid rgba(255, 255, 255, .75);
    border-radius: 100%;
    background: rgba(255, 255, 255, .75);
  }
}