:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  display: contents;
}

.typewritter {
  width: fit-content;
  margin-left: 5vw;

  h2 {
    display: inline-block;
    font-family: monospace;
    font-size: 4vw;
    margin-inline: auto;
    overflow: hidden !important;
    white-space: nowrap;
    border-right: 2px solid rgba(255,255,255,.75);
    animation: 
      typing 4s steps(44) 1s 1 normal both,
      blink-caret 1s steps(44) infinite normal;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: rgba(255,255,255,.75) }
  50% { border-color: transparent; }
}

@media (min-width: 430px) {
  .background {
    background-image: url("./assets/kirby_dreamland.png");
    background-size: cover !important;
  }
}

@media (max-width: 429px) {
  .background {
    background-image: url("./assets/background.png");
    background-size: cover !important;
  }
}